<?xml version="1.0"?>
<launch>
  <!-- useful parameters and arguments-->
  <arg name="robot_frame" default="torso"/>

  <!-- include the ROS package for interacting with the HTC Vive -->
  <include file="$(find vive_ros)/launch/vive.launch">
    <arg name="desired_robot_frame" value="$(arg robot_frame)"/>
  </include>

  <!-- include ar tag tracking launch file -->
  <include file="$(find fencing_sawyer)/launch/tag.launch">
  </include>

  <!-- display image to sawyer's head -->
  <node pkg="fencing_sawyer" name="display_head" type="display_head.py"/>

  <!-- tf listener with respect to end effector -->
  <node
    pkg="fencing_sawyer"
    name="fencer"
    type="fencer2.py"
    output="screen"
    launch-prefix="gnome-terminal --command"
  >
  </node>

  <node pkg="fencing_sawyer" name="modify_urdf" type="send_urdf_fragment.py"/>

  <!-- play sound -->
  <node pkg="fencing_sawyer" name="sound_player" type="soundplayer.py"/>

</launch>
